<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Booking</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>Welcome inside, {{username}}!</h3>
  <p>You're Based at: {{office_name}}</p>
  <ion-list>
    <form novalidate (ngSubmit)="confirmBooking(binputData)" [formGroup]="bookingform" >
      <ion-item>
        <ion-label color="primary" floating >From*</ion-label>
        <ion-input formControlName='from' disabled [(ngModel)]='binputData.from'></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label color="primary">To*</ion-label>
        <ion-select formControlName='to' [(ngModel)]="binputData.to" name="to">
          <ion-option *ngFor="let city of cities" [value]="city">{{city}}</ion-option>
        </ion-select>
      </ion-item> -->
      <ion-item>
        <ion-label color="primary">To*</ion-label>
        <ionic-selectable item-content formControlName='to' [items]="cities" itemValueField="" itemTextFied="" [canSearch]="true" (onChange)="portChange($event)" [(ngModel)]="binputData.to" [class.error1]='!bookingform.controls.to.valid && bookingform.controls.to.dirty' name="to">
        </ionic-selectable>
      </ion-item>
      <ion-item no-lines *ngIf="( bookingform.get('to').hasError('required') ) && bookingform.get('to').touched">
        <div class="error" *ngIf="bookingform.get('to').hasError('required') && bookingform.get('to').touched">
          Please input the destination
        </div>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Travel Date*</ion-label>
        <ion-datetime formControlName='date' displayFormat="D-MMM-YYYY" pickerFormat="D-MMM-YYYY" [(ngModel)]="binputData.date" ></ion-datetime>
      </ion-item>
      <!-- <ion-item>
        <ion-label color="primary">Bus*</ion-label>
        <ion-select formControlName='vehicle' [(ngModel)]="binputData.vehicle" name="vehicle">
          <ion-option *ngFor="let vehicle of vehicles" [value]="vehicle">{{vehicle}}</ion-option>
        </ion-select>
      </ion-item> -->
      <ion-item>
        <ion-label color="primary">Bus*</ion-label>
        <ionic-selectable item-content formControlName='vehicle' [items]="vehicles" itemValueField="" itemTextFied="" [canSearch]="true" (onChange)="portChange($event)" [(ngModel)]="binputData.vehicle" name="vehicle">
        </ionic-selectable>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating >Passenger Name*</ion-label>
        <ion-input formControlName='pass_name' [(ngModel)]='binputData.name'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating >Fare*</ion-label>
        <ion-input formControlName='fare' type="number" [(ngModel)]='binputData.fare'></ion-input>
      </ion-item>
      <button ion-button full type="submit" [disabled]="bookingform.invalid">Book Ticket</button>
    </form>
    <button ion-button full color="danger" (click)=resetVals()>Reset Form</button>
  </ion-list>
</ion-content>
